<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <related_products>
            <configuration>
                <is_active>0</is_active>
            </configuration>
        </related_products>
    </default>
</config>
