@media (min-width: 640px) {
    .products-grid .product-item-info:hover, .products-grid .product-item-info.active {
        box-shadow: none;
        border: none;
        transform: scale(1.2);
    }
    .products-grid .product-item-info {
        transition: .3s;
    }
}

div.block.related .block-content .products {
    margin: 50px 0;
}
