& when(@media-common = true) {
    #related-products {
        .product-image-container {
            width: 152px;
            .product-image-wrapper {
                padding-bottom: 125%;
            }
        }
        .error-message {
            p{
                color: #FF0000;
                font-size: 1.5rem;
                width: 35%;
                margin: 0 auto;
            }
        }
    }
    .rp-alert {
        .modal-inner-wrap {
            width: 25%;
            header {
                text-align: center;
                color: #FF0000;
            }
            #modal-alert {
                p {
                    text-align: center;
                }
            }
            .modal-footer {
                button.action.close {
                    width: 100%;
                    background: #ff0000;
                    font-size: 2rem;
                    color: #FFFFFF;
                    font-weight: bold;
                }
            }
        }
    }
}
