<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="devlat" sortOrder="100">
            <label>DEVLAT</label>
        </tab>
        <section id="related_products"
                 translate="label"
                 sortOrder="10"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <class>custom-related-products</class>
            <label>Related Products</label>
            <tab>devlat</tab>
            <resource>Devlat_RelatedProducts::related</resource>
            <group id="configuration"
                   translate="label"
                   sortOrder="20"
                   showInDefault="1"
                   showInWebsite="1">
                <label>Configuration</label>
                <field id="is_active"
                        translate="label comment"
                        type="select"
                        sortOrder="25"
                        showInDefault="1"
                        showInWebsite="1"
                        showInStore="1"
                        canRestore="1">
                    <label>Enable</label>
                    <comment>When you enable this custom section, it'll appear in PDP section.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="image_available"
                       translate="label"
                       type="text"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enable Placehoder Image</label>
                    <frontend_model>Devlat\RelatedProducts\Block\System\Config\Form\PlaceholderButton</frontend_model>
                    <depends>
                        <field id="is_active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
